/* Styling for entire page */
html {
  height: 100%;
  width: 100%;
  font-family: 'Times New Roman',serif, sans-serif, cursive;
}
/* Styling for the header */
hr {
  border: 1.5px solid #E3963E;
  border-radius: 40px;
  width: 475px;
}
/* Styling for the page */
body{
  background-color: #772D2A;
  color: #E3963E;
}

img{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  height: 492px;
  width: 381px;
}

h1{
  text-align: center;
  color: #E3963E;
  font-size: 40px;
}

p{
  text-align: center;
  color: #E3963E;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #772D2A;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #E3963E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #8d4004;
}
